.modalContainer{
    // background-color: rgba(90, 90, 90, 0.671);
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index:10;
    top: 0;
    width: 100%;
    height: 100vh;
    // opacity: 0;
    visibility: hidden;

    &.active{
        visibility:visible;
        opacity: 1;
        transition: opacity 0.5s;
    }
}

#myModal{
    position: relative;
    top: 50px;
    left: 50px;
    width: 95%;
    z-index: 110;
    background-color: rgb(255, 0, 0);
}


.modal-90w{
    max-width: 90% !important;
    width:90%;
}

.carousel-inner{
    height: 50vh;
}
.carousel-indicators [data-bs-target]{
    background-color:black !important;
}
.carousel-caption{
    color:black !important;
}
.w-100{
    height: 50vh;
    margin:0 auto;
}

.customCarousel{
    // max-width: 100% !important; 
    // max-height: 80% !important;
}




