.modalContainer{
    background-color: rgba(90, 90, 90, 0.671);
    position: absolute;
    z-index: 10;
    top: 0;
    width: 100%;
    height: 100%;
}

#myModal{
    position: absolute;
    top: 50px;
    left: 50px;
    width: 95%;
    height: 100vh;
    z-index: 11;
    background-color: rgb(255, 0, 0);
}