.navbar {
    display: flex;

    background: rgb(255, 48, 48);
    color: white;
    // font-family: Helvetica;
    font-weight: 300;

    ul {
        display: flex;
        list-style-type: none;
        // margin-left: auto;
        width: 100%;
    }

    a {
        text-decoration: none;
        padding: 16px;
        vertical-align: middle;
        color: white;

        &:hover {
            background-color: red;
        }

        &.active {
            background-color: red;
        }
    }

    .title {
        margin-right: auto !important;

        a:hover {
            background: none !important;
        }
    }

    .item {
    }
}
